# version: '3.8'

services:
  wordpress:
    build: 
      context: .
      dockerfile: requirements/wordpress/Dockerfile
    container_name: wordpress
    volumes:
      - ./requirements/tools/wordpress:/var/www/wordpress
    expose:
      - 9000
    env_file:
      - .env
    networks:
      - n1
    restart: always

  mariadb:
    build:
      context: .
      dockerfile: requirements/mariadb/Dockerfile
    container_name: mariadb
    expose:
      - 3306
    env_file:
      - .env
    networks:
      - n1
    restart: always
  nginx:
    build: 
      context: .
      dockerfile: requirements/nginx/Dockerfile
    container_name: nginx
    volumes:
      - ./requirements/tools/wordpress:/var/www/wordpress
    ports:
      - "443:443"
    networks:
      - n1
    depends_on:
      - wordpress
    restart: always
networks:
  n1:
    driver: bridge