services:
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    image: nginx
    ports:
      - "443:443"
    volumes:
      - wordpress_vol:/var/www/html
    networks:
      - n1
    depends_on:
      - wordpress
    restart: always

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    image: wordpress
    env_file:
      - .env
    volumes:
      - wordpress_vol:/var/www/html
    expose:
      - 9000
    networks:
      - n1
    depends_on:
      - mariadb
      - redis
    restart: always

  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    image: mariadb
    env_file:
      - .env
    volumes:
      - mariadb_vol:/var/lib/mysql
    expose:
      - 3306
    networks:
      - n1
    restart: always

  # BONUS SERVICES

  redis:
    build: ./requirements/bonus/redis
    container_name: redis
    image: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - n1

  ftp:
    build: ./requirements/bonus/ftp
    container_name: ftp
    image: ftp
    restart: always
    ports:
      - "21:21"
      - "21100-21110:21100-21110"
    volumes:
      - wordpress_vol:/var/www/html
    env_file:
      - .env
    networks:
      - n1

  adminer:
    build: ./requirements/bonus/adminer
    container_name: adminer
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    networks:
      - n1
    depends_on:
      - mariadb

  website:
    build: ./requirements/bonus/website
    container_name: website
    image: website
    restart: always
    ports:
      - "1337:1337"
    networks:
      - n1

  cadvisor:
    container_name: cadvisor
    build: ./requirements/bonus/cadvisor
    image: cadvisor
    restart: always
    ports:
      - "8081:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    networks:
      - n1

volumes:
  mariadb_vol:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/ibougajd/data/mariadb
  wordpress_vol:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/ibougajd/data/wordpress

networks:
  n1:
    driver: bridge
